/*----------------------------- CONTACTO -----------------------------*/


    .formulario{
        border-radius: 8px;
        margin: 40px;
        .row g-3{
            .row g-3{
            .col{
                .form-control{

                margin: 120px 60px;
                padding: 100px;
                .btn btn-primary{
                margin: 40px;
                padding: 40px;
                }
        }
            }    
            }
    }
}

