
/*----------------------------- HEADER -----------------------------*/

header{
    background-color: $background-green;
    height: 100px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.nav{
    display: flex;
    justify-content: space-between;
    max-width: 992px;
    margin: 0 auto;
    .logo{
        margin: 15px;
        padding-bottom: 15px;
        height: 80px;
        width: 80px;
        line-height: 80px;
        &:hover{
            motion-rotation: auto;
        }
        }
    ul{
        display: flex;
        margin-right: 40px;
        list-style: none;

        li{
            a{
                color: white;
                text-decoration: none;
                font-family: 'playfair', sans-serif;
                font-size: 15px;
                margin: 0 10px;
                line-height: 80px;
                padding: 8px 12px;
                border-radius: 3px;
                &:hover{
                    font-size: 20px;
                    background-color: rgb(244, 59, 138);
                    transition: 0.5s;
                        }
                 }
            }
        }
    }
    



