
/* SECTION 2 */


.seccion2{
    margin: 1rem 0;
    padding: 0 1rem;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    gap: 3rem;
    grid-template-areas: 
    'h3seccion2'
    'textoseccion2'
    'videoseccion2';
    justify-items: center;

    h3 {
    grid-area: h3seccion2;
    }
.seccion2_titulo {
    grid-area: h3seccion2;
    }
 .seccion2_texto {
    grid-area: textoseccion2;
    width: 100%;
 }
 .seccion2_video {
    grid-area: videoseccion2;
     width: 100%;
    }
    
}
