/* SECTION 3 */
.seccion3 {
    margin: 1rem 0;
    padding: 0 1rem;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    gap: 3rem;
    grid-template-areas: 
    'h3seccion3'
    'textoseccion3';
    justify-items: center;
    h2 {
        grid-area: h3seccion2;
        display: grid;
    }
    .seccion3_titulo {
        grid-area: h3seccion2;
        display: grid;
    }
    .seccion3_texto {
        grid-area: textoseccion2;
        width: 100%;
        display: grid;
    }
}