/* Variables */
$Title-foto: bold 3rem'playfair', sans-serif rgb(255, 255, 255);
$Title-1: bold 40px 'playfair', sans-serif rgb(75, 69, 69);
$Title-2: bold 30px 'playfair', sans-serif rgb(75, 69, 69);
$font-1: bold 80px 'playfair', sans-serif rgb(52, 141, 88);
$texto-1: bold 36px 'roboto', sans-serif rgb(75, 69, 69);
$texto-2: medium 36px 'roboto', sans-serif rgb(75, 69, 69);
$texto-3: medium 18px 'roboto', sans-serif rgb(75, 69, 69);
$texto-4: italic 14px 'playfair', sans-serif rgb(75, 69, 69);
$cool-lightgreen: rgb(23, 137, 132);
$background-green: rgb(95, 141, 125);
$background-body: rgb(187, 189, 189);
$background-section: rgb(244, 211, 225);
$title2-font: bold 30px 'playfair', sans-serif, blueviolet;
