@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,700;1,400&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,300;0,400;0,700;1,400;1,900&display=swap"); /* Variables */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,700;1,400&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,300;0,400;0,700;1,400;1,900&display=swap");
/*----------------------------- HEADER -----------------------------*/
header {
  background-color: rgb(95, 141, 125);
  height: 100px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
}
.nav .logo {
  margin: 15px;
  padding-bottom: 15px;
  height: 80px;
  width: 80px;
  line-height: 80px;
}
.nav .logo:hover {
  motion-rotation: auto;
}
.nav ul {
  display: flex;
  margin-right: 40px;
  list-style: none;
}
.nav ul li a {
  color: white;
  text-decoration: none;
  font-family: "playfair", sans-serif;
  font-size: 15px;
  margin: 0 10px;
  line-height: 80px;
}
.nav ul li a:hover {
  font-size: 20px;
  color: rgb(244, 59, 138);
}

/*----------------------------- HOME -----------------------------*/
body {
  background-color: rgb(187, 189, 189);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body main .parte1 h1 {
  font: bold 60px "playfair", sans-serif rgb(255, 255, 255);
  margin: 325px 1167px 384px 309px;
  padding: 20px;
}
body main .parte1 img {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 1200PX;
  margin: 0px 0px 10px;
}
body main .parte2 {
  margin: 40px 30px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
body main .parte2 h2 {
  font: bold 40px "playfair", sans-serif rgb(75, 69, 69);
}
body main .parte2 p {
  font: bold 36px "roboto", sans-serif rgb(75, 69, 69);
}
body main .parte3 {
  margin: 40px 0px 0px;
  padding: 40px 40px 0px;
  background-color: rgb(244, 211, 225);
  display: flex;
  flex-direction: column;
}
body main .parte3 h2 {
  font: bold 40px "playfair", sans-serif rgb(75, 69, 69);
}
body main .parte3 p {
  font: medium 36px "roboto", sans-serif rgb(75, 69, 69);
}
body main .lista-pasos {
  margin: 0px 0px 40px;
  padding: 40px 40px 40px;
  background-color: rgb(244, 211, 225);
  display: flex;
  flex-direction: row;
}
body main .lista-pasos .pasos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-color: rgb(95, 141, 125) solid;
}
body main .lista-pasos .pasos h3 {
  padding: 40px 80PX;
  font-size: 80px;
  font-family: "playfair", sans-serif rgb(95, 141, 125);
}
body main .lista-pasos .pasos h4 {
  font: italic 14px "playfair", sans-serif rgb(75, 69, 69);
}
body main .lista-pasos .pasos p {
  font: medium 18px "roboto", sans-serif rgb(75, 69, 69);
}
body main .parte4 {
  margin: 40px 30px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
body main .parte4 h2 {
  padding: 20px 0px;
}
body main .parte4 .card-body {
  background-color: rgb(244, 211, 225);
}
body main .parte4 .card-body:hover {
  background-color: rgb(244, 59, 138);
}
body main .parte4 .card-body:hover .card-title {
  font: medium 36px "roboto", sans-serif rgb(75, 69, 69);
}
body main .parte4 .card-body:hover .card-text {
  font: medium 18px "roboto", sans-serif rgb(75, 69, 69);
}
body main .parte4 .card-footer {
  background-color: azure;
}
body main .parte4 .card-footer .text-muted {
  font: italic 14px "playfair", sans-serif rgb(75, 69, 69);
}

/*----------------------------- RECETARIO -----------------------------*/
body {
  background-color: rgb(187, 189, 189);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body section h2 {
  font: bold 40px "playfair", sans-serif rgb(75, 69, 69);
}
body section p {
  font: medium 36px "roboto", sans-serif rgb(75, 69, 69);
}
body section .contenedor_recetario {
  margin: 120px 0px 0px;
  padding: 40px 40px 0px;
  width: 100%;
  height: 200px;
  background-color: rgb(217, 217, 217);
  display: flex;
  flex-direction: row;
}
body section .contenedor_recetario .pastilla-receta img {
  padding: 40px;
  background-color: rgb(95, 141, 125);
  width: 20px;
  height: 20px;
}
body section .contenedor_recetario .pastilla-receta h5 {
  font: medium 36px "roboto", sans-serif rgb(75, 69, 69);
}

/*----------------------------- FOOTER -----------------------------*/
footer {
  background-color: rgb(95, 141, 125);
  height: 80px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  min-height: 20vh;
}
footer div {
  display: flex;
  justify-content: space-between;
}
footer div h4 {
  margin-top: 20px;
  font-size: 20px;
  font-family: "playfair", sans-serif;
  color: white;
}
footer div i {
  font-size: 35px;
  margin: 10px;
  padding: 10px 20px;
  color: white;
}
footer div i:hover {
  font-size: 40px;
  color: rgb(244, 59, 138);
}
footer div .footerRedesContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4rem;
}
footer div .footerRedesContainer div {
  width: 30%;
  display: flex;
  justify-content: space-between;
}

/*para flex
al footer un margin top auto
al body display: flex;
flex-direction: column;
min-height: 100vh;

para grids
al footer
al body display: grid;
min-height: 100vh;
grid-template-rows: auto 1fr auto;
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}/*# sourceMappingURL=estilos.css.map */